
html{
  height: 100%;
  width: 100%;
  background-color : white;
  margin :0;
}
#firstsection h2{
  color: black;
  font-size: 15px;
  padding-left:8px;
   color: #6624A0;
}

#bare {
  display : flex;
  margin-left: auto;
  padding-right:10px;
}
#firstsection {
  height : 40px;
  display :flex;
  justify-content : space-between;
  text-align : center; 
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 1000;
  top:8px;
  left:8px;
  border-radius: 10px;
  font-size:10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
  right: 8px;
}

a{
  text-decoration: none;
  padding : 10px;
  margin-top : 10px;
  color : black; 
  transition : 0.7s ease;
}
a:hover {
  border-radius: 10px;
  color: purple;
  transform : scale(1.1);
}
#Mainsection{  
    height: 100%;
    width:100%;
    color: black;
    background-color :hsl(270, 100%,98%);
    background-size: cover;
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    margin-top :10%;
    display:flex;
    flex-direction: row ;
    padding-bottom:15px;
}
#myimg{
  background-image: url("IMG_1821.jpeg");
  background-size: cover;
  position: absolute;   
  top:20%;
  left:250px;
  z-index: 2;
  width:150px;
  height : 150px;
  margin-right:-100px;
}
#MainsectionFont{
  font-size : 15px;
  color : black;
  padding-left:30px;
  margin-top:0%;
}
#Mainsection h3{
    color:#6624A0;
}
#Mainsection h2{
  color :black;
  font-size: 15px;
}
#MainsectionFont p{
  font-size:10px;
  padding-right:180px;
}
h5{
text-decoration-color : darkblue;
}
#contact{
  background-color: #E1BEE7;
  color : black;
  border-radius : 10px;
  transition :0.7s ease;
}
#contact:hover{
    background-color:#E1BEE7;
    transform: scale(1.1);
}
#Mainn{
  padding :5%;
}

#aboutme2{
  background-color : white;
  height: 100%;
  width: 100%;
  
}
#aboutme2 h4{
 text-align: center;
 font-size:12px;
 text-decoration: underline;
 text-underline-offset: 10px;
 padding-bottom:20px;
 padding-right:20px;
 color: #6624A0;
}

#aboutme2 p{
  direction:rtl;
  font-size:13px;
  padding-left:210px;
  padding-right:30px;
}
#aboutme2img{
  width:200px;
  height:130px;
  padding-right:150px;
  margin-top:-150px;
}

#myskills{
  height: 170px;
  width: 100%;
  display : flex;
  flex-direction : column;
  flex-wrap : wrap; 
  direction:rtl;
  background-color: hsl(270, 100%,98%);
  border-radius : 10px;
}
#myskills h3{
  font-size: 8px;
}
#myskills h4 {
  padding-top:-60px;
  font-size:12px;
  color: #6624A0;
  text-align:center;
  text-decoration:underline;
  text-underline-offset:10px;
  padding-bottom:20px;
  padding-right:20px;
}

#allmyskills{
  display: flex;
  align-items :center;
  margin-top:-80px;
  margin-right:10px;
  margin-left:15px;
  margin-bottom:15px;
  position:relative;
  gap:15px;
}
#myskills1 ,#myskills2 ,#myskills3 ,#myskills4
{
  width:85px;
  height:90px;
  background-color : white;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.15);
  border: #EFE1E1 solid 1px;
  border-radius : 10px;
  text-align: center;
  margin-top:60px;
  }
#myskills1img ,#myskills2img ,#myskills3img, #myskills4img {
  width :  50px;
  height : 35px;
  margin : 5px 10px;
}

footer{
  width:100%;
  height: 150px;
  margin-top : 10px;
  background-color : white;
  font-size : 10px;
  text-align : center;
  border-radius:10px;
}
footer h3{
  font-size:12px;
  color:#6624A0;
  text-decoration:underline;
  text-underline-offset: 10px;
}
footer #icon{
  direction:ltr;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top:30px;
  margin-left:40px;
  width:90px;
}

footer img {
  width:20px;
height:20px;
}
  #emaili,
  #numi,
  #locationi {
    display: flex;
    flex-direction: row;
    gap: 8px;
    width: 150px;
    padding-bottom:10px;
  }
  #icon img{
    width:30px;
    height:30px;
  }
  #copyright{
   background-color:#6A1B9A;
   color: white;
   font-size:10px;
   padding-left:130px;
 }
@media screen and (min-width:1200px) and (max-width:1920px);{

  #Mainsection{
    margin-top:25px;
  }
  #MainsectionFont{

  }
  #myimg{
  margin-right: 500px ;
  }
  #aboutme2{
  
 
  }
  #aboutme2 h4{
    
   }
  #aboutme2 p{
    
  }
  #aboutme2img{
    
  } 
  #myskills{
    
  }
  #myskills h4{
    
  }
  #allmyskills {
  
}
#myskills1 ,#myskills2 ,#myskills3 ,#myskills4{
    
 
  }
 
  footer{
    
  }
  footer h3{
  
  }
  #icon{
  
  }

  #emailiconimg,
  #numiconimg,
  #locationiconimg{
  
  }
  }